@page
@model PRN222.Lab2.ProductStore.Web.Pages.Product.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (Model.Message != null)
{
	<div class="alert alert-success" role="alert">
		@Model.Message
	</div>
}

<p>
    <a asp-page="Create">Create New</a>
</p>
@if (User.Identity.IsAuthenticated || HttpContext.Session.GetString("LoginStatus") == "LoggedIn")
{
    <form asp-page="/Auth/Logout" method="post" style="display:inline;">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
}
else
{
    <a asp-page="/Auth/Login" class="btn btn-primary">Login</a>
}
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    
    <script src="~/js/site.js"></script>
}

